
@model MvcCv.Models.Entity.TblEgitimlerim
@{
    ViewBag.Title = "EgitimDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Eğitim Bilgisi Düzenleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Üniversite/ Lise İsmi")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control", placeholder = "Üniversite/ Lise İsmini Giriniz." })
    @Html.ValidationMessageFor(x => x.Baslik, "", new { @style = "color:red" })
    <br />
    <br />
    @Html.Label("Fakülte/ Alan İsmi")
    @Html.TextBoxFor(x => x.AltBaslik1, new { @class = "form-control", placeholder = "Fakülte/ Alan İsmini Giriniz." })
    @Html.ValidationMessageFor(x => x.Baslik, "", new { @style = "color:red" })
    <br />
    <br />
    @Html.Label("Bölüm/ Açıklama")
    @Html.TextBoxFor(x => x.AltBaslik2, new { @class = "form-control", placeholder = "Bölüm/ Açıklama Giriniz." })
    @Html.ValidationMessageFor(x => x.Baslik, "", new { @style = "color:red" })
    <!--Html.ValidationMessageFor(x => x.Aciklama, "", new { style = "color:red" })-->
    <br />
    <br />
    <button class="btn btn-info">Düzenle</button>
</form>

