@model MvcCv.Models.Entity.TblDeneyimlerim
@{
    ViewBag.Title = "DeneyimGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Deneyim Güncelleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Şirket İsmi")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control",placeholder="Şirket İsmini Giriniz."})
    <br />
    @Html.Label("Ünvan")
    @Html.TextBoxFor(x => x.AltBaslik, new { @class = "form-control",placeholder="Ünvanınızı Giriniz." })
    <br />
    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control",placeholder="Deneyiminizi açıklayınız." })
    @Html.Label("Tarih")
    @Html.TextAreaFor(x => x.Tarih, new { @class = "form-control" ,placeholder="İşe giriş ve çıkış tarihinizi giriniz."})
    <br/>
    <button class="btn btn-info">Güncelle</button>
</form>

